<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    <property name="hibernate.connection.username">system</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="xmlFiles/master.hbm.xml"/>
    <mapping resource="xmlFiles/DepartAndBatches.hbm.xml"/>
    <mapping resource="xmlFiles/Students.hbm.xml"/>
    <mapping resource="xmlFiles/complain.hbm.xml"/>
    <!--<mapping resource="xmlFiles/notifications.hbm.xml"/>-->
    <mapping resource="xmlFiles/Teacher.hbm.xml"/>
    <mapping resource="xmlFiles/news.hbm.xml"/>
    <mapping resource="xmlFiles/admin.hbm.xml"/>
    <mapping resource="xmlFiles/message.hbm.xml"/>
    <mapping resource="xmlFiles/TeacherSubjects.hbm.xml"/>
    <mapping resource="xmlFiles/StudentSemesterResult.hbm.xml"/>
    <mapping resource="xmlFiles/libraryBooks.hbm.xml"/>
    <mapping resource="xmlFiles/librarian.hbm.xml"/>
    <mapping resource="xmlFiles/LibraryDetails.hbm.xml"/>
    <mapping resource="xmlFiles/student_attendance.hbm.xml"/>
    <!--<mapping class="beans.LoginInformation"/>--> 
    <mapping resource="xmlFiles/LoginInformation.hbm.xml"/>
    <mapping resource="xmlFiles/subjects.hbm.xml"/>
    <mapping resource="xmlFiles/matric_information.hbm.xml"/>
    <mapping resource="xmlFiles/intermediate.hbm.xml"/>
  </session-factory>
</hibernate-configuration>

