<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controller.ContextLoader</listener-class>
    </listener>
    <servlet>
        <servlet-name>Checker</servlet-name>
        <servlet-class>Servlets.Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterChecker</servlet-name>
        <servlet-class>Servlets.SemesterChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryManager</servlet-name>
        <servlet-class>Servlets.LibraryManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultLoader</servlet-name>
        <servlet-class>Servlets.ResultLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintHandler</servlet-name>
        <servlet-class>Servlets.ComplaintHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookChecker</servlet-name>
        <servlet-class>Servlets.BookChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryBooksLoader</servlet-name>
        <servlet-class>Servlets.LibraryBooksLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreBookIssueFormData</servlet-name>
        <servlet-class>Servlets.StoreBookIssueFormData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryIssuedBooksList</servlet-name>
        <servlet-class>Servlets.LibraryIssuedBooksList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDataLoader</servlet-name>
        <servlet-class>Servlets.TeacherDataLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAttendanceHandler</servlet-name>
        <servlet-class>Servlets.TeacherAttendanceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSubjectsAndStudentLoader</servlet-name>
        <servlet-class>Servlets.TeacherSubjectsAndStudentLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsLoader</servlet-name>
        <servlet-class>Servlets.NewsLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageLoader</servlet-name>
        <servlet-class>Servlets.MessageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentServlet</servlet-name>
        <servlet-class>Servlets.InsertStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllStudentLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllStudentLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentDataServlet</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateStudentDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEditor</servlet-name>
        <servlet-class>Servlets.StudentEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDelete</servlet-name>
        <servlet-class>Servlets.StudentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSubjectData</servlet-name>
        <servlet-class>Servlets.InsertSubjectData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSubjectsLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllSubjectsLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectEditor</servlet-name>
        <servlet-class>Servlets.SubjectEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubjectData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateSubjectData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDelete</servlet-name>
        <servlet-class>Servlets.SubjectDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectsAndDepartLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.SubjectsAndDepartLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBatchData</servlet-name>
        <servlet-class>Servlets.InsertBatchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBatchLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllBatchLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchEditor</servlet-name>
        <servlet-class>Servlets.BatchEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBatchData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateBatchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchDelete</servlet-name>
        <servlet-class>Servlets.DataRemoverServlets.BatchDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.SubjectLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertResultData</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.InsertResultData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllResultLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllResultLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultEditor</servlet-name>
        <servlet-class>Servlets.Editors.ResultEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultDelete</servlet-name>
        <servlet-class>Servlets.DataRemoverServlets.ResultDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResultData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateResultData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginInfoLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.LoginInfoLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNewsLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllNewsLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNews</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.SendNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDepartmentLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.TeacherDepartmentLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherData</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.InsertTeacherData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.TeacherLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacher</servlet-name>
        <servlet-class>Servlets.Editors.EditTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateTeacherData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacher</servlet-name>
        <servlet-class>Servlets.DataRemoverServlets.DeleteTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLibrarian</servlet-name>
        <servlet-class>Servlets.Editors.EditLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertLibrarianData</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.InsertLibrarianData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.LibrarianLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarian</servlet-name>
        <servlet-class>Servlets.DataRemoverServlets.DeleteLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLibrarianData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateLibrarianData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookData</servlet-name>
        <servlet-class>Servlets.InsertDataServlets.InsertBookData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryBookLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.LibraryBookLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookData</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateBookData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDelete</servlet-name>
        <servlet-class>Servlets.DataRemoverServlets.BookDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checker</servlet-name>
        <url-pattern>/Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterChecker</servlet-name>
        <url-pattern>/SemesterChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryManager</servlet-name>
        <url-pattern>/LibraryManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultLoader</servlet-name>
        <url-pattern>/ResultLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintHandler</servlet-name>
        <url-pattern>/ComplaintHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryBooksLoader</servlet-name>
        <url-pattern>/LibraryBooksLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookChecker</servlet-name>
        <url-pattern>/BookChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreBookIssueFormData</servlet-name>
        <url-pattern>/StoreBookIssueFormData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryIssuedBooksList</servlet-name>
        <url-pattern>/LibraryIssuedBooksList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDataLoader</servlet-name>
        <url-pattern>/TeacherDataLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAttendanceHandler</servlet-name>
        <url-pattern>/TeacherAttendanceHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSubjectsAndStudentLoader</servlet-name>
        <url-pattern>/TeacherSubjectsAndStudentLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsLoader</servlet-name>
        <url-pattern>/NewsLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageLoader</servlet-name>
        <url-pattern>/MessageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentServlet</servlet-name>
        <url-pattern>/InsertStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllStudentLoader</servlet-name>
        <url-pattern>/AllStudentLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentDataServlet</servlet-name>
        <url-pattern>/UpdateStudentDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEditor</servlet-name>
        <url-pattern>/StudentEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDelete</servlet-name>
        <url-pattern>/StudentDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSubjectData</servlet-name>
        <url-pattern>/InsertSubjectData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSubjectsLoader</servlet-name>
        <url-pattern>/AllSubjectsLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectEditor</servlet-name>
        <url-pattern>/SubjectEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubjectData</servlet-name>
        <url-pattern>/UpdateSubjectData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDelete</servlet-name>
        <url-pattern>/SubjectDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectsAndDepartLoader</servlet-name>
        <url-pattern>/SubjectsAndDepartLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBatchData</servlet-name>
        <url-pattern>/InsertBatchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBatchLoader</servlet-name>
        <url-pattern>/AllBatchLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchEditor</servlet-name>
        <url-pattern>/BatchEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBatchData</servlet-name>
        <url-pattern>/UpdateBatchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchDelete</servlet-name>
        <url-pattern>/BatchDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectLoader</servlet-name>
        <url-pattern>/SubjectLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertResultData</servlet-name>
        <url-pattern>/InsertResultData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllResultLoader</servlet-name>
        <url-pattern>/AllResultLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultEditor</servlet-name>
        <url-pattern>/ResultEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultDelete</servlet-name>
        <url-pattern>/ResultDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResultData</servlet-name>
        <url-pattern>/UpdateResultData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginInfoLoader</servlet-name>
        <url-pattern>/LoginInfoLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNewsLoader</servlet-name>
        <url-pattern>/AllNewsLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNews</servlet-name>
        <url-pattern>/SendNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDepartmentLoader</servlet-name>
        <url-pattern>/TeacherDepartmentLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherData</servlet-name>
        <url-pattern>/InsertTeacherData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLoader</servlet-name>
        <url-pattern>/TeacherLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacher</servlet-name>
        <url-pattern>/EditTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherData</servlet-name>
        <url-pattern>/UpdateTeacherData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacher</servlet-name>
        <url-pattern>/DeleteTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLibrarian</servlet-name>
        <url-pattern>/EditLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertLibrarianData</servlet-name>
        <url-pattern>/InsertLibrarianData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianLoader</servlet-name>
        <url-pattern>/LibrarianLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarian</servlet-name>
        <url-pattern>/DeleteLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLibrarianData</servlet-name>
        <url-pattern>/UpdateLibrarianData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookData</servlet-name>
        <url-pattern>/InsertBookData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryBookLoader</servlet-name>
        <url-pattern>/LibraryBookLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookData</servlet-name>
        <url-pattern>/UpdateBookData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDelete</servlet-name>
        <url-pattern>/BookDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>startProject.jsp</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
