<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controller.ContextLoader</listener-class>
    </listener>
    <servlet>
        <servlet-name>Checker</servlet-name>
        <servlet-class>Servlets.Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterChecker</servlet-name>
        <servlet-class>Servlets.SemesterChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryManager</servlet-name>
        <servlet-class>Servlets.LibraryManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultLoader</servlet-name>
        <servlet-class>Servlets.ResultLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintHandler</servlet-name>
        <servlet-class>Servlets.ComplaintHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookChecker</servlet-name>
        <servlet-class>Servlets.BookChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryBooksLoader</servlet-name>
        <servlet-class>Servlets.LibraryBooksLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreBookIssueFormData</servlet-name>
        <servlet-class>Servlets.StoreBookIssueFormData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibraryIssuedBooksList</servlet-name>
        <servlet-class>Servlets.LibraryIssuedBooksList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDataLoader</servlet-name>
        <servlet-class>Servlets.TeacherDataLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAttendanceHandler</servlet-name>
        <servlet-class>Servlets.TeacherAttendanceHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSubjectsAndStudentLoader</servlet-name>
        <servlet-class>Servlets.TeacherSubjectsAndStudentLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsLoader</servlet-name>
        <servlet-class>Servlets.NewsLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageLoader</servlet-name>
        <servlet-class>Servlets.MessageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentServlet</servlet-name>
        <servlet-class>Servlets.InsertStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllStudentLoader</servlet-name>
        <servlet-class>Servlets.LoaderServlets.AllStudentLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentDataServlet</servlet-name>
        <servlet-class>Servlets.UpdaterServlets.UpdateStudentDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEditor</servlet-name>
        <servlet-class>Servlets.StudentEditor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checker</servlet-name>
        <url-pattern>/Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterChecker</servlet-name>
        <url-pattern>/SemesterChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryManager</servlet-name>
        <url-pattern>/LibraryManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultLoader</servlet-name>
        <url-pattern>/ResultLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintHandler</servlet-name>
        <url-pattern>/ComplaintHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryBooksLoader</servlet-name>
        <url-pattern>/LibraryBooksLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookChecker</servlet-name>
        <url-pattern>/BookChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreBookIssueFormData</servlet-name>
        <url-pattern>/StoreBookIssueFormData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryIssuedBooksList</servlet-name>
        <url-pattern>/LibraryIssuedBooksList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDataLoader</servlet-name>
        <url-pattern>/TeacherDataLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAttendanceHandler</servlet-name>
        <url-pattern>/TeacherAttendanceHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSubjectsAndStudentLoader</servlet-name>
        <url-pattern>/TeacherSubjectsAndStudentLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsLoader</servlet-name>
        <url-pattern>/NewsLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageLoader</servlet-name>
        <url-pattern>/MessageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentServlet</servlet-name>
        <url-pattern>/InsertStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllStudentLoader</servlet-name>
        <url-pattern>/AllStudentLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentDataServlet</servlet-name>
        <url-pattern>/UpdateStudentDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEditor</servlet-name>
        <url-pattern>/StudentEditor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>startProject.jsp</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
